<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "Your Listings", artists_path, class: "sidebar-link active" %></li>
      <li class="sidebar-item"><%= link_to "Your Reservations", artists_path, class: "sidebar-link" %></li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        All artists
      </div>
      <div class="panel-body">

        <% @artists.each do |artist| %>
        <div class="row">
          <div class="col-md-7">
            <h4><%= artist.name %></h4>
            <#%= image_tag artist.photo, size: "100x100", alt: "Artist photo" %>
            <%= image_tag "https://mvdb2b.com/i/300dpi/EVSA249.jpg", size: "100x100", alt: "Artist photo" %>
          </div>
          <div class="col-md-3 right">
            <%= link_to "View", "#", class: "btn btn-default" %>
            <%= link_to "Update", "#", class: "btn btn-default" %>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
