<div class="panel panel-primary">
  <div class="panel-heading">Add a new song</div>
    <div class="panel-body">
    <%= render 'artists/form' %>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading"><%= @artist.name %></div>
  <h4>Songs</h4>
  <div class="panel-body">
    <ul id="song-list">
      <% @artist.songs.each do |song| %>
      <li data-id="<%= song.id.to_i %>">
        <%= song.name %> |
        <%= link_to "Delete song",
                     artist_song_path(@artist, song.id.to_i),
                     id: "delete-song",
                     class: "btn btn-danger",
                     method: :delete,
                     data: { confirm: "Are you sure you want to delete this song?" }
                     %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to "Back", artists_path, class: "btn btn-default" %>
<%= link_to "Delete artist",
            artist_path(@artist.id),
            class: "btn btn-danger",
            method: :delete,
            data: { confirm: "Are you sure you want to delete this artist and all their songs?" }
            %>
<%= link_to "Delete all songs",
            #artist_path(@artist.id),
            artist_song_path(@artist, '#'),
            id: "delete-all-songs",
            class: "btn btn-danger",
            method: :delete,
            remote: true,
            data: { confirm: "You're about to delete all songs. Are you sure?" }
            %>
